/****


Primary color #274034



*/

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: "Catamaran", sans-serif;
}

.Home {
  background-color: #442d6a;
}

.center {
  padding: 0 5rem;
}

h1 {
  font-size: 3rem;
}

/* HEADER REGION */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;

  color: #dfdfdf;
}

/* SEARCH REGION*/

.drag-text {
  color: #553c7e;
  text-align: center;
  margin-bottom: 2rem;

  font-weight: 600;
  font-size: 1rem;
}

.section-search {
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: center;
}

.search-input-cnt {
  flex: 1;
  max-width: 50rem;
}

.search-input {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 50rem;
  background-color: #dfdfdf;
  font-size: 1.2rem;
  padding: 0 0.8rem 0 0.8rem;
}
.search-input::placeholder {
  padding-left: 1rem;
  font-size: 1rem;
}

/*GALLERY REGION*/
.section-gallery {
  border-top-right-radius: 4rem;
  border-top-left-radius: 4rem;
  background-color: #ffffff;
  flex: 1;
  min-height: 30rem;
  padding-top: 2rem;
  padding-bottom: 9.6rem;
  margin-bottom: 4.6rem;
  height: 100vh;
}

.sign-out-btn {
  border: none;
  color: #dfdfdf;
  background: transparent;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
}

/*  LOGIN PAGE*/

.Login-page {
  background-color: #442d6a;
  color: #dfdfdf;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.login-cnt {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 25rem;
  gap: 2rem;

  padding: 0 1.4rem 0 1.4rem;
}

.login-header {
  font-size: 1.8rem;
  font-weight: 700;
}

.login-label {
  font-size: 0.8rem;
  font-weight: 500;
}

.login-input-cnt {
  flex: 1;
  width: 100%;
}
.login-input {
  width: 100%;
  height: 2.4rem;
  background-color: #553c7e;
  border: none;
  border-radius: 8px;
  padding-left: 1rem;
  color: #dfdfdf;
  font-size: 1rem;
}

.error-message {
  color: rgba(255, 0, 0, 0.61);
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.login-btn {
  width: 100%;
  height: 2.4rem;
  background-color: #9986d4;
  color: #553c7e;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
}

.login-btn:hover {
  opacity: 0.7;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.image-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.gallery-image {
  width: 100%;
  cursor: grab;
}
.gallery-item.dragging {
  cursor: grabbing;
}

/* custom-cursor.css */
.dragging {
  cursor: grab; /* Change this to your desired custom cursor */
}

/*MEDIA QUERY*/

@media (max-width: 800px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  .image-gallery {
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 640px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .header-primary {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .center {
    padding: 0 3.4rem;
  }

  .header-primary {
    font-size: 1.6rem;
  }
  .center {
    padding: 0 2rem;
  }
  .drag-text {
    padding-top: 1rem;
  }
}

@media (max-width: 370px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .header-primary {
    font-size: 1.4rem;
  }
}
